* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #253053;
  border-radius: 1rem;
}
